@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.pill {
  border-radius: 20px;
  border: 2px solid#c0362c;
  line-height: 32px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
}

.pill a:hover {
  color: white;
  background: #ffa700;
}


.page {
  max-width: 640px;
  margin: auto;
}

.card {
  max-width: 640px;
  border: 2px solid #4d1a16;
  border-radius: 7px;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.505);
  padding: 2vw;
  position: relative;
  z-index: 1;
  margin: 20 auto;
  width: 80%;
}

.card_small {
  max-width: 45%;
  border: 2px solid #4d1a16;
  border-radius: 7px;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.505);
  padding: 2vw;
  position: relative;
  z-index: 1;
  margin: 20 auto;
}

.red {
  background-color: rgb(219, 131, 131);
}

.red_text {
  color: red;
}

.green {
  background-color: rgb(116, 236, 116);
}

.green_text {
  color: green;
}

.yellow {
  background-color: hsla(60, 100%, 50%, 0.5);
}

.grey {
  background-color: hsla(0, 0%, 50%, 0.527);
}

.brown  {
  background-color: hsla(29, 100%, 30%, 0.459);
}

.orange {
  background-color: hsla(39, 100%, 39%, 0.445);
}

.white_text {
  color: white;
  font-weight: 600;
}

.black_text {
  color: black;
  font-weight: 600;
}

.black_text_heavy {
  font-weight: bold;
}

.report {
  max-width: 50rem;
  padding: 2% 2% 2% 2%;
    
}

.form {
  max-width: 640px;
  position: relative;
  z-index: 1;
  width: 85%;
  margin: 1vh auto;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: white;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.primary_button {
  font-family: "Bitter", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ffa700;
  width: 70%;
  border: 0;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 35%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  padding: 10px;
  margin: 0.5rem auto 0.5rem;
}

.other_button  {
  outline: 0;
  background: #f2f2f2;
  width: 75%;
  border: 0;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.button:hover,.form button:active,.form button:focus {
  background: #ca9023;
}


.form .message {
  margin: 15px 0 0;
  color: #928287;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container_small  {
  position: relative;
  z-index: 1;
  max-width: 100px;
  margin: 0 auto;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 90%;
  margin: 0 auto;
}
.container_large  {
  position: relative;
  z-index: 1;
  max-width: 60%;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.survey {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.text-center  {
  text-align: center;
}

.text-left  {
  text-align: left;
}

.text-right {
  text-align: right;
}

.data-centered td {
  text-align: center;
}

body {
  font-family: Bitter;
  font-weight: 500;
}

table {
  margin: auto;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
} 

th, td {
  border-bottom: 1px solid #ffa700;
  padding: 5px;
}


.item1 { grid-area: dash1; }
.item2 { grid-area: dash2; }
.item3 { grid-area: dash3; }
.item4 { grid-area: dash4; }
.item5 { grid-area: dash5; }
.item6 { grid-area: dash6; }

.grid-container {
  display: grid;
  grid-template-areas:
    'dash1 dash1 dash2 dash2'
    'dash3 dash3 dash4 dash4'
    'dash5 dash5 dash6 dash6';
  gap: 50px;
  padding: 20px;
}

.border  {
  border: #ae7719 solid 2px;
}

.nav  {
  width: 100%;
}

.nav a {
  text-decoration: none;
}

.navOption  {
  margin: 1rem;
}

.navOption a {
  text-decoration: none;
  color: #4d1a16;
  font-size: 1.25rem;
}

.innerNav {
  max-width: 640px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#landingPic {
    height: 10rem;
    margin: 1rem;
}

.navPic {
  height: 4rem;
  margin: 1rem;
}

.iconPic2 {
  height: 1.50rem;
}

.iconPic  {
  height: 1rem
}

.mainTextColor {
  color: #ffa700;
  text-align: center;
  font-weight: 800;
}

.noline {
  text-decoration: none;
}

.halfwidthcentered  {
  width: 50%;
  margin: auto;
}

.max-width-container  {
  max-width: 100%;
}

input.larger {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: green;
}

input.larger[type="checkbox"]:active  {
  background: green;
}

.row  {
  display: flex;
  flex-wrap:wrap;

}

.row_between {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  min-width: 100%;
  }

.flex_col {
  display: flex;
  flex-direction: column;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom  {
  margin-bottom: 1rem;
}

.margin-top-bottom  {
  margin: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.background-white {
  background-color: white;
}

.country  {
  margin: 1rem 0
}

.select {
  background: transparent;
  width: 292px;
  padding: 10px 20px;
  font-size: 18px;
}

.border_button {
  border: 1px solid;
  color: #c0362c;;
}

.auto {
  margin: auto;
}

@media screen and (max-width: 359px) and (orientation: portrait) {
  .hide-column  {
    display: none;
  }
 }

