{% extends "base.html" %}

{% block content %}

<div class="page">
    
    <form class="form" action="" method="post" novalidate>
    <h1 class="mainTextColor">Financial Status {{ current_month_text }}</h1>
        {{ account.hidden_tag() }}
    <table>
        
        {% if credits == None or credits.salary_deposit == 0.0  %}
        <tr>
            <th>{{ account.salary_deposit.label }}</th>
            <td>{{ account.salary_deposit }}</td>
        </tr>
        {% else %}
        <tr class="green">
            <th>{{ account.salary_deposit.label }}</th>
            <td>{{ credits.salary_deposit }}</td>
        </tr>
        {% endif %}
        {% if active == None %}
        <tr>
            <th>Month</th>
            <td>{{ active.month }}</td>
        </tr>
        {% else %}
        <tr>
            <th>Month</th>
            <td>{{ active.month }}</td>
        </tr>
        {% endif %}
        {% if credits.windfall == 0.0 %}
        <tr>
            <th>{{ account.windfall.label }}</th>
            <td>{{ account.windfall }}</td>
        </tr>
        {% else %}
        <tr class="green">
            <th>Windfall Funds</th>
            <td>{{ credits.windfall }}</td>
        </tr>
        {% endif %}
        {% if active.rent == 0.0 %}
        <tr>
            <th>{{ account.rent.label }}</th>
            <td>{{ account.rent }}</td>
            <td><input class="larger" type="checkbox" id={{ account.id }} name="rent_lock" value=False></td>
        </tr>
        {% elif rollover.rent_lock == True %}
        <tr>
            <th>Rent</th>
            <td>{{ rollover.rent_fixed }}</td>
            <td><input class="larger" type="checkbox" id="" name="rent_lock" value=True checked></td>
        </tr>
        {% else %}
        <tr>
            <th>Rent</th>
            <td>{{ active.rent }}</td>
            <td><input class="larger" type="checkbox" id="" name="rent_lock" value=False></td>
        </tr>
        {% endif %}
        {% if active == None or active.housekeeping == 0.0 %}
        <tr>
            <th>{{ account.housekeeping.label }}</th>
            <td>{{ account.housekeeping }}</td>
        </tr>
        {% else %}
        <tr>
            <th>Housekeeping</th>
            <td>{{ active.housekeeping }}</td>
        </tr>
        {% endif %}
        {% if extra_groceries == 0 %}
        <tr>
            <th>Extra Groceries</th>
            <td>0</td>
            <td><a class="noline" href="{{ url_for('extragroceries') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Extra Groceries</th>
            <td>{{ extra_groceries_total }}</td>
            <td><a class="noline" href="{{ url_for('extragroceries') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% endif %}
        {% if active == None or active.water == 0.0 %}
        <tr>
            <th>{{ account.water.label }}</th>
            <td>{{ account.water }}</td>
            <td><input class="larger" type="checkbox" id="" name="water_lock" value=False></td>
        </tr>
        {% elif active.water_lock == True and active.water != None %}
        <tr>
            <th>{{ account.water.label }}</th>
            <td>{{ active.water }}</td>
            <td><input class="larger" type="checkbox" id="" name="water_lock" value=True checked></td>
        </tr>
        {% else %}
        <tr>
            <th>{{ account.water.label }}</th>
            <td>{{ active.water }}</td>
            <td><input class="larger" type="checkbox" id="" name="water_lock" value=False></td>
        </tr>
        {% endif %}
        {% if active == None or active.electric == 0.0 %}
        <tr>
            <th>Electric / Gas</th>
            <td>{{ account.electric }}</td>
            <td><input class="larger" type="checkbox" id="" name="electric_lock" value=False></td>
        </tr>
        {% elif active.electric_lock == True and active.electric != None %}
        <tr>
            <th>Electric / Gas</th>
            <td>{{ active.electric }}</td>
            <td><input class="larger" type="checkbox" id="" name="electric_lock" value=True checked></td>
        </tr>
        {% else %}
        <tr>
            <th>Electric / Gas</th>
            <td>{{ active.electric }}</td>
            <td><input class="larger" type="checkbox" id="" name="electric_lock" value=False></td>
        </tr>
        {% endif %}
        {% if active == None or active.internet == 0.0 %}
        <tr>
            <th>Internet</th>
            <td>{{ account.internet }}</td>
            <td><input class="larger" type="checkbox" id={{ active.id }} name="internet_lock" value=False></td>
        </tr>
        {% elif active.internet_lock == True %}
        <tr>
            <th>Internet</th>
            <td>{{ active.internet }}</td>
            <td><input class="larger" type="checkbox" id={{ active.id }} name="internet_lock" value=True checked></td>
        </tr>
        {% else %}
        <tr>
            <th>Internet</th>
            <td>{{ active.internet }}</td>
            <td><input class="larger" type="checkbox" id={{ active.id }} name="internet_lock" value=False></td>
        </tr>
        {% endif %}
        {% if total_subscriptions == 0 %}
        <tr>
            <th>Subscriptions</th>
            <td>0</td>
            <td><a class="noline" href="{{ url_for('subscriptions') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Subscriptions</th>
            <td>{{ total_subscriptions }}</td>
            <td><a class="noline" href="{{ url_for('subscriptions') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% endif %}
        {% if total_investments == 0 %}
        <tr>
            <th>Investments</th>
            <td>{{ account.investments }}</td>
            <td><a class="noline" href="{{ url_for('investments') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Investments</th>
            <td>{{ total_investments }}</td>
            <td><a class="noline" href="{{ url_for('investments') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% endif %}
        {% if total_insurance == 0 %}
        <tr>
            <th>Insurance</th>
            <td>{{ account.insurance }}</td>
            <td><a class="noline" href="{{ url_for('insurance') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Insurance</th>
            <td>{{ total_insurance }}</td>
            <td><a class="noline" href="{{ url_for('insurance') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% endif %}
        {% if active.counciltax == 0.0 %}
        <tr>
            <th>{{ account.counciltax.label }}</th>
            <td>{{ account.counciltax }}</td>
            <td><input class="larger" type="checkbox" id="" name="counciltax_lock" value=False></td>
        </tr>
        {% elif rollover.counciltax_lock == True %}
        <tr>
            <th>Council Tax</th>
            <td>{{ rollover.counciltax_fixed }}</td>
            <td><input class="larger" type="checkbox" id="" name="counciltax_lock" value=True checked></td>
        </tr>
        {% else %}
        <tr>
            <th>Council Tax</th>
            <td>{{ active.counciltax }}</td>
            <td><input class="larger" type="checkbox" id="" name="counciltax_lock" value=False></td>
        </tr>
        {% endif %}
        {% if total_entertainment == 0 %}
        <tr>
            <th>Family Entertainment</th>
            <td>0</td>
            <td><a class="noline" href="{{ url_for('familyentertainment') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Family Entertainment</th>
            <td>{{ total_entertainment }}</td>
            <td><a class="noline" href="{{ url_for('familyentertainment') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% endif %}
        {% if total_takeaway == 0 %}
        <tr>
            <th>Takeaway</th>
            <td>0</td>
            <td><a class="noline" href="{{ url_for('takeaway') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Takeaway</th>
            <td>{{ total_takeaway }}</td>
            <td><a class="noline" href="{{ url_for('takeaway') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>  
        </tr>
        {% endif %}
        {% if total_transport == 0 %}
        <tr>
            <th>Transport</th>
            <td>0</td>
            <td><a class="noline" href="{{ url_for('transport') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Transport</th>
            <td>{{ total_transport }}</td>
            <td><a class="noline" href="{{ url_for('transport') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% endif %}
        {% if active == None or active.fitness == 0.0 %}
        <tr>
            <th>{{ account.fitness.label }}</th>
            <td>{{ account.fitness }}</td>
        </tr>
        {% else %}
        <tr>
            <th>Fitness</th>
            <td>{{ active.fitness }}</td>
        </tr>
        {% endif %}
        {% if active == None or active.bakery == 0.0 %}
        <tr>
            <th>{{ account.bakery.label }}</th>
            <td>{{ account.bakery }}</td>
        </tr>
        {% else %}
        <tr>
            <th>Bakery</th>
            <td>{{ active.bakery }}</td>
        </tr>
        {% endif %}
        {% if active == None or active.shopping == 0.0 %}
        <tr>
            <th>{{ account.shopping.label }}</th>
            <td>{{ account.shopping }}</td>
        </tr>
        {% else %}
        <tr>
            <th>More Stuff</th>
            <td>{{ active.shopping }}</td>
        </tr>
        {% endif %}
        {% if workfood_total == 0 %}
        <tr>
            <th>Work Food</th>
            <td>0</td>
            <td><a class="noline" href="{{ url_for('workfood') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% else %}
        <tr>
            <th>Work Food</th>
            <td>{{ workfood_total }}</td>
            <td><a class="noline" href="{{ url_for('workfood') }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/plus.png') }}"></a></td>
        </tr>
        {% endif %}
        
        {% if active.month %}
        {% endif %}
        {% if remaining > 0 %}
        <tr class="green">
        {% else %}
        <tr class="red">
        {% endif %}
            <th>Total Remaining</th>
            <td><strong>{{ remaining }}</strong></td>
        </tr>
    </table>
    <p>{{ account.submit() }}</p>
</form>
    
    
</div>




{% endblock %}