{% extends "base.html" %}

{% block content %}

<center><div class="page">
    <div class="form">
        <h1 class="mainTextColor">Family Site Configs</h1>
        {% if user_object.admin == 'admin' or user_object.id == 1 %}
        <h2 class="margin-top">{{ user_object.username.capitalize() }}</h2>
        <form class="login-form" action="" method="post" novalidate>
          {{ admin_form.hidden_tag() }}
        <p class="margin-top">{{ admin_form.registration.label }}</p>
        {% if admin.registration == True %}
        <p class="margin-top"><input type="checkbox" id="" name="registration" value=True checked></p>
        {% else %}
        <p class="margin-top"><input type="checkbox" id="" name="registration" value=False></p>
        {% endif %}
        <p>{{ admin_form.submit() }}</p>
        </form>
        <div class="card">
          <h1>Current List of Users in the user table</h1>
          {% for u in all_users %}
          <p class="margin-top">{{ u.username.capitalize() }}</p>
          {% endfor %}
        </div>
        {% else %}
        <h2>You don't have Admin permissions but they only let you close the registration</h2>
        <h3>If you want admin just ask</h3>
        {% endif %}
        
        
      
   </div>
</div>
</center>


{% endblock %}