{% extends "base.html" %}

{% block content %}

<center><div class="page">
    <div class="form">
      <h1 class="mainTextColor">How was your day?</h1>
      <img id="landingPic" src="{{ url_for('static', filename='pictures/howday2.png') }}">
      <form class="login-form" action="" method="post" novalidate>
        {{ dayform.hidden_tag() }}
        
        {% for subfield in dayform.yourday %}
          <p>{{ subfield.label }}</p>
          <p class="margin-top">{{ subfield }}</p>
        {% endfor %}
        
      </tabel>

      <p>{{ dayform.why.label }}</p>
      <p>{{ dayform.why(size=20) }}</p>
      
      <button class="primary_button white_text" type="submit">Submit</button>
      <p class="message mainTextColor">Not feeling it? <a href="{{ url_for('people') }}"><strong>Skip question!</strong></a></p>
     </form>
   </div>
   <h1 class="mainTextColor">How was your day?</h1>
                  
        {% for day in days %}
        <div class="container">
            {% if day.yourday == 'Great' %}
            <div class="card green white_text">
            {% elif day.yourday == 'OK' %}
            <div class="card yellow grey_text">
            {% elif day.yourday == 'Blah' %}
            <div class="card grey white_text">
            {% elif day.yourday == 'Ugh!' %}
            <div class="card orange white_text"> 
            {% else %}
            <div class="card brown white_text">
                {% endif %}
                <p><strong>{{ day.username.capitalize() }}</strong></p>
                <p>{{ day.yourday }}</p>
                <p class="margin-top">{{ day.why }}</p>    
            </div>
        </div>
                {% endfor %}
            
    </div>
   {% include "nav_update.html" %}
</div>
</center>


{% endblock %}