{% extends "base.html" %}

{% block content %}

<div class="page">
    
    <form class="form" action="" method="post" novalidate>
        {{ extra.hidden_tag() }}
        <h1 class="mainTextColor margin-bottom">Extra Groceries {{ monthNow }}</h1>
        <p>{{ extra.extra_groceries_description.label }}</p>
        <p>{{ extra.extra_groceries_description }}</p>
        <p>{{ extra.extra_groceries.label }}</p>
        <div class="threequarterwidthcentered">
            <p>{{ extra.extra_groceries }}</p>
            <button class="primary_button white_text" type="submit">Submit Groceries</button>
            <div class="other_button border_button margin-top">
                <h4><a class="noline mainTextColor" href="{{ url_for('accounts') }}">Full Accounts Page</a></h4>
            </div>
        </div>
    </form>
</div>

<div class="page">
    <div class="form">

        <h1 class="mainTextColor margin-top-bottom">Extra Groceries this month</h1>
        <table>
            <tr>
                <th>Description</th>
                <th>Cost</th>
                <th>Day</th>
                
            {% for l in list %}
            <tr>
                <td class="text-left">{{ l.grocerydescription }}</td>
                <td class="text-right">{{ l.cost }}</td>
                <td class="text-right">{{ l.day }}</td>
                <td><a class="noline" href="{{ url_for('extragroceries_delete', id=l.id) }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/delete.png') }}"></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}