{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" novalidate>
        {{ FamilyentForm.hidden_tag() }}
        <h1 class="mainTextColor">Family Entertainment</h1>
        <p>{{ FamilyentForm.entertainment_title.label }}</p>               
        <p>{{ FamilyentForm.entertainment_title }}</p>
            
        <p>{{ FamilyentForm.entertainment_description.label }}</p>
        <p><textarea id="1" name="entertainment_description" rows="8" cols="40"></textarea></p>
        <p>{{ FamilyentForm.cost.label }}</p>
        <p>{{ FamilyentForm.cost }}</p>
        <p>{{ FamilyentForm.submit() }}</p>
        <p><a class="noline" href="{{ url_for('accounts') }}">Full Accounts Page</a></p>
    </form>
</div>

{% endblock %}


