{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" validate>
        {{ house.hidden_tag() }}
        <h1 class="mainTextColor margin-top-bottom">Housekeeping</h1>

        <p class="margin-top-bottom">{{ house.lineitem_description.label }}</p>
        <p>{{ house.lineitem_description }}</p>  
        <p class="margin-top-bottom">{{ house.lineitem_category.label }}</p>  
        <p class="submit"> {{ house.lineitem_category }}</p>
        <p class="margin-top-bottom">{{ house.cost.label }}</p>
        <p>{{ house.cost }}</p>
        <p>{{ house.submit() }}</p>

        <div class="other_button">
            <h4><a class="noline" href="{{ url_for('accounts') }}">Full Accounts Page</a></h4>
        </div>
        <table>
            <h2 class="mainTextColor margin-top-bottom">Current Housekeeping</h2>
            <tr>
                <th>Description</th>
                <th>Category</th>
                <th>Cost</th>
                
            {% for line in current_housekeeping %}
            <tr>
                <td>{{ line.lineitem_description }}</td>
                <td>{{ line.lineitem_category }}</td>
                <td>{{ line.cost }}</td>
                
            </tr>

            {% endfor %}
        </table>
        <div class="margin-top-bottom">
            <input name="submit" id="submit" type="submit" value="Manage Houskeeping" href="{{ url_for('housekeeping') }}"></input>
        </div>
    </form>
</div>

{% endblock %}