{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" novalidate>
        {{ ins.hidden_tag() }}
        <h1 class="mainTextColor">Insurance</h1>
        <table>
            <tr>
                <th>{{ ins.insurance_name.label }}</th>
                <td>{{ ins.insurance_name }}</td>
            </tr>
            <tr>
                <th>{{ ins.insurance_description.label }}</th>
                <td>{{ ins.insurance_description }}</td>
            </tr>
            <tr>
                <th>{{ ins.insurance_cost.label }}</th>
                <td>{{ ins.insurance_cost }}</td>
            </tr>
        </table>
        <p>{{ ins.submit() }}</p>
        <p><a class="noline" href="{{ url_for('accounts') }}">Full Accounts Page</a></p>
        <table>
            <h2 class="mainTextColor">Current Insurance</h2>
            {% for i in current_insurance %}
            <tr>
                <th>{{ i.insurance_name }}</th>
                <td>{{ i.insurance_description }}</td>
                <td>{{ i.insurance_cost }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}