{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" novalidate>
        {{ ins.hidden_tag() }}
        <h1 class="mainTextColor">Insurance</h1>
        <table>
            <tr>
                <th>{{ ins.insurance_name.label }}</th>
                <td>{{ ins.insurance_name }}</td>
            </tr>
            <tr>
                <th>{{ ins.insurance_description.label }}</th>
                <td>{{ ins.insurance_description }}</td>
            </tr>
            <tr>
                <th>{{ ins.insurance_cost.label }}</th>
                <td>{{ ins.insurance_cost }}</td>
            </tr>
        </table>
        <button class="primary_button white_text" type="submit">Mitigate Risk</button>
        <div class="other_button border_button margin-top">
            <h4><a class="noline mainTextColor" href="{{ url_for('accounts') }}">Full Accounts Page</a></h4>
        </div>
        <table>
            <h2 class="mainTextColor margin-top">Current Insurance</h2>
            {% for i in current_insurance %}
            <tr>
                <th>{{ i.insurance_name }}</th>
                <td>{{ i.insurance_description }}</td>
                <td>{{ i.insurance_cost }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}