{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" novalidate>
        {{ inv.hidden_tag() }}
        <h1 class="mainTextColor margin-bottom">Investments</h1>
        <table>
            <tr>
                <th>{{ inv.investment_name.label }}</th>
                <td>{{ inv.investment_name }}</td>
            </tr>
            <tr>
                <th>{{ inv.investment_description.label }}</th>
                <td>{{ inv.investment_description }}</td>
            </tr>
            <tr>
                <th>{{ inv.investment_cost.label }}</th>
                <td>{{ inv.investment_cost}}</td>
            </tr>
        </table>
        <button class="primary_button white_text" type="submit">Invest</button>
        <div class="other_button border_button margin-top">
            <h4><a class="noline mainTextColor" href="{{ url_for('accounts') }}">Full Accounts Page</a></h4>
        </div>
        <table>
            <h2 class="mainTextColor margin-top">Current Investments</h2>
            <tr>
                <th>Name</th>
                <th>Decscription</th>
                <th>Cost</th>
            </tr>
            
            {% for i in current_investments %}
            <tr>
                <td>{{ i.investment_name }}</td>
                <td>{{ i.investment_description }}</td>
                <td>{{ i.cost }}</td>
                <td><a class="noline" href="{{ url_for('investments_delete', id=i.id) }}"><img class="iconPic2" src="{{ url_for('static', filename='pictures/delete.png') }}"></a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}