{% extends "base.html" %}

{% block content %}

<div class="page">
    {% include "nav_update.html" %}
	<div class="container">
		<h1 class="text-center">Feature List</h1>
		<h2 class="margin-top">Master Budget</h2>
		<p class="margin-top">Monthly expenses that repeat are setup and checked as rollover values. A housekeeping budget
							  feature allows a portion of income to assigned and then deducted from.
		<p class="margin-top">The benefit being that monthly inevitable costs can be deducted from the Income from day 1 in the month keeping the 
		   					  disposable income in focus from payday.</p>
		</p>
		<h2 class="margin-top">How was your day?</h2>
		<p class="margin-top">A simple how was your day, with a range of one word responses but also the option to provide more 
			words why?
		</p>
		<P class="margin-top">
			a simple pulse survey to keep an eye on the day to day of family members.
		</P>
	</div>
	
</div>


{% endblock %}