{% extends "base.html" %}

{% block content %}

<div class="page">
    <h1 class="mainTextColor">Things we like and dislike about here or there</h1>
                
            {% for likedislike in likesdislikes %}
        <div class="container">
            {% if likedislike.likes_dislikes == 'Dislikes' %}
            <div class="card red white_text">
            {% else %}
            <div class="card green white_text"> 
                {% endif %}
                <p><strong>{{ likedislike.username.capitalize() }}</strong></p>
                <div class="white_text row">
                    {% if likedislike.country == 'USA' %}
                    <img class="navPic" src="{{ url_for('static', filename='pictures/starsStripes.png') }}">
                    {% else %}
                    <img class="navPic" src="{{ url_for('static', filename='pictures/unionJack.png') }}">
                    {% endif %}
                    <p>{{ likedislike.reason }}</p>
                </div>
            </div>
        </div>
                {% endfor %}
            
    </div>
    {% include "nav_update.html" %}
</div>

{% endblock %}