<div class="nav">
    <div class="innerNav">
        
            <div>  
                <a href="{{ url_for('index') }}">Home</a>
            </div>       
        
            {% if current_user.is_anonymous %}
            <div>
                <a href="{{ url_for('login') }}">Log in</a>
                <a class="pill" href="{{ url_for('register') }}">Join the Family</a>
            </div>
            {% else %}
            
        <div>
            <a href="{{ url_for('logout') }}">Logout</a>                
        </div>
        {% endif %}
    </div>
</div>