<div class="card background-white">
    <div class="innerNav">
        
            {% if current_user.is_anonymous %}
            <div>
                <img class="max-width-container" src="{{ url_for('static', filename='pictures/siloFam.png') }}">
            </div>
            {% else %}
            <!--<a href="{{ url_for('user', username=current_user.username) }}">Likes Dislikes</a>-->
        <div class="navOption">
            <a href="{{ url_for('day', username=current_user.username) }}"><img class="navPic" src="{{ url_for('static', filename='pictures/howday2.png') }}"></a>
            <p><a href="{{ url_for('day', username=current_user.username) }}">Your day</a></p>
        </div>
    
        <div class="navOption">
            <p><a href="{{ url_for('likesdislikes') }}">Likes</a></p>
            <a href="{{ url_for('likesdislikes') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/thumbsupdown.png') }}"></a>  
            <p><a href="{{ url_for('likesdislikes') }}">Dislikes</a></p>
        </div>

        <div class="navOption">
            <a href="{{ url_for('thoughts') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/bulb.png') }}"></a>  
            <p><a href="{{ url_for('thoughts') }}">Thoughts</a></p>
        </div>
    
        <div class="navOption">
            <a href="{{ url_for('people') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/people.jpg') }}"></a>  
            <p><a href="{{ url_for('people') }}">People</a></p>
        </div>

        <div class="navOption">
            <a href="{{ url_for('housekeeping') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/balance.jpg') }}"></a>  
            <p><a href="{{ url_for('housekeeping') }}">Housekeeping</a></p>
        </div>

        <div class="navOption">
            <a href="{{ url_for('lifehacks') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/hacks.png') }}"></a>  
            <p><a href="{{ url_for('lifehacks') }}">Life Hacks</a></p>
        </div>

        <div class="navOption">
            <a href="{{ url_for('reports') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/report.jpg') }}"></a>  
            <p><a href="{{ url_for('reports') }}">Reports</a></p>
        </div>
        
        <div class="navOption">
            <a href="{{ url_for('accounts') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/key.png') }}"></a>  
            <p><a href="{{ url_for('accounts') }}">Financial Status</a></p>
        </div>
    
    {% endif %}
</div>
</div>