{% extends "base.html" %}

{% block content %}

<center>
  <div class="page"> 
    <div class="card">
        <h1 class="mainTextColor">Registration Closed</h1>
        <P class="margin-top text-center">
          Sorry
        </P>
        <p class="margin-top text-left">
          This is a student coding project and not a public website please do not enter any personal details.
        </p>
        <p class="margin-top text-left">
          If you would like your own copy to play with please download the code base from Github at https://github.com/mrrichardasmith/family_vote
        </p>     
    </div>
</div>
</center>


{% endblock %}