{% extends "base.html" %}

{% block content %}


<div class="page">
    <div class="grid-container">   
        <div class="item1">
            <div class="navOption">
                <a href="{{ url_for('peoplereport') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/people.jpg') }}"></a>  
                <p><a href="{{ url_for('peoplereport') }}">People<br> Report</a></p>
            </div>
        </div>
        <div class="item2">
            <div class="navOption">
                <a href="{{ url_for('lifehacksreport') }}"><img class="navPic" src="{{ url_for('static', filename='pictures/hacks.png') }}"></a>  
                <p><a href="{{ url_for('lifehacksreport') }}">Life Hacks<br> Report</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}