{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" novalidate>
        {{ stuff.hidden_tag() }}
        <h1 class="mainTextColor">More Stuff</h1>
        <table>
            <tr>
                <th>{{ stuff.description.label }}</th>
                <td>{{ stuff.description }}</td>
            </tr>
            <tr>
                <th>{{ stuff.cost.label }}</th>
                <td>{{ stuff.cost }}</td>
            </tr>
        </table>
        <button class="primary_button white_text" type="submit">Purchased</button>
        <div class="other_button border_button margin-top">
            <h4><a class="noline mainTextColor" href="{{ url_for('accounts') }}">Full Accounts Page</a></h4>
        </div>
        <table>
            <h2 class="mainTextColor margin-top">This months Stuff</h2>
            
            {% for s in current_stuff %}
            <tr>
                <th class="text-left">{{ s.description }}</th>
                <td class="text-right">{{ s.cost }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}