{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" novalidate>
        {{ subs.hidden_tag() }}
        <h1 class="mainTextColor">Subscriptions</h1>
        <table>
            <tr>
                <th>{{ subs.subscription_name.label }}</th>
                <td>{{ subs.subscription_name }}</td>
            </tr>
            {% for subfield in subs.subscription_term %}
            <tr>
                <th>{{ subfield.label }}</th>
                <td>{{ subfield }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>{{ subs.subscription_start_date.label }}</th>
                <td>{{ subs.subscription_start_date }}</td>
            </tr>
            <tr>
                <th>{{ subs.subscription_cost.label }}</th>
                <td>{{ subs.subscription_cost}}</td>
            </tr>
        </table>
        <p>{{ subs.submit() }}</p>
        <p><a class="noline" href="{{ url_for('accounts') }}">Full Accounts Page</a></p>
        <table>
            <h2 class="mainTextColor">Current Subscriptions</h2>
            {% for sub in current_subscriptions %}
            <tr>
                <th>{{ sub.subscription_name }}</th>
                <td>{{ sub.subscription_cost }}</td>
                <td>{{ sub.subscription_term }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}