{% extends "base.html" %}

{% block content %}

<div class="page">
    <form class="form" action="" method="post" novalidate>
        {{ subs.hidden_tag() }}
        <h1 class="mainTextColor margin-top-bottom">Subscriptions</h1>
        <table>
            <tr>
                <th>{{ subs.subscription_name.label }}</th>
                <td>{{ subs.subscription_name }}</td>
            </tr>
            {% for subfield in subs.subscription_term %}
            <tr>
                <th>{{ subfield.label }}</th>
                <td>{{ subfield }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>{{ subs.subscription_start_date.label }}</th>
                <td>{{ subs.subscription_start_date }}</td>
            </tr>
            <tr>
                <th>{{ subs.cost.label }}</th>
                <td>{{ subs.cost}}</td>
            </tr>
        </table>
        <button class="primary_button white_text" type="submit">Subscribe</button>
        <div class="other_button border_button margin-top">
            <h4><a class="noline mainTextColor" href="{{ url_for('accounts') }}">Full Accounts Page</a></h4>
        </div>
        <table>
            <h2 class="mainTextColor margin-top-bottom">Current Subscriptions</h2>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Term</th>
                <th class="hide-column">Start/Renew</th>
                
            {% for sub in current_subscriptions %}
            <tr>
                <td>{{ sub.subscription_name }}</td>
                <td>{{ sub.cost }}</td>
                <td>{{ sub.subscription_term }}</td>
                <!--reformating of the date-->
                <td class="hide-column">{{ sub.subscription_start_date.strftime('%d-%m-%Y') }}</td>
            </tr>

            {% endfor %}
        </table>
        <div class="other_button margin-top">
            <h4><a class="noline mainTextColor" href="{{ url_for('subscriptionmgmt') }}">Manage Subscriptions</a></h4>
        </div>
    </form>
</div>

{% endblock %}