{% extends "base.html" %}

{% block content %}

<div class="page">
    <div class="form">
      <h1 class="mainTextColor margin-bottom">Takeaway Night</h1>
      <form class="login-form" action="" method="post" novalidate>
        {{ takeaway.hidden_tag() }}
      <tabel>
        <tr>
        {% for subfield in takeaway.takeaway_choice %}
            <th>{{ subfield.label }}</th>
            <td>{{ subfield }}</td>
        {% endfor %}
        </tr>
        <tr>
            <th>{{ takeaway.takeaway_other.label }}</th>
            <td>{{ takeaway.takeaway_other }}</td>
        </tr>
        <tr>
            <th>{{ takeaway.takeaway_cost.label }}</th>
            <td>{{ takeaway.takeaway_cost }}</td>
        </tr>
      </tabel>
      <button class="primary_button white_text" type="submit">Takeaway</button>
      <div class="other_button border_button margin-top">
        <h4><a class="noline mainTextColor" href="{{ url_for('accounts') }}">Full Accounts Page</a></h4>
    </div>
    </form>
    </div>
</div>


{% endblock %}