{% extends "base.html" %}

{% block content %}

<center><h1>Welcome back {{current_user.username}}!</h1>
  <h2>Transparency helps steer the family</h2> 
{% for post in posts %}
<ul>&#128205;{{ post.likesDislikes }} - {{ post.reason }}</ul>
{% endfor %}
    
    <div class="page border">
        <div class="form">
            <form method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.likesDislikes.label }}<br>
                    {{ form.likesDislikes(size=32) }}<br>
                    {% for error in form.likesDislikes.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.country.label }}<br>
                    {{ form.country(size=1) }}<br>
                    {% for error in form.country.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.reason.label }}<br>
                    {{ form.reason(size=32) }}<br>
                    {% for error in form.reason.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form></center>
        </div>
    </div>
{% endblock %}